.post-list-container {
  position: fixed;
  width: 33%;
  height: 100%;
  padding: 20px;
  padding-right: 10px;
  overflow: auto;
}

.post-list-inner {
  position: relative;
  width: 100%;
  min-height: 100%;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(195,195,195,1);
  -moz-box-shadow: 0px 3px 9px 0px rgba(195,195,195,1);
  box-shadow: 0px 3px 9px 0px rgba(195,195,195,1);
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-list-item {
  border-bottom: 1px solid #e3e3e3;
}

.post-list-item a {
  display: block;
  padding: 16px 16px;
  cursor: hand;
  position: relative;
}

.post-list-item .title {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.post-list-item .date {
  font-weight: lighter;
  color: #8e8e8e;
  font-size: 0.875em;
  display: block;
}

.post-list-item a:hover:before,
.post-list-item.active a:before,
.post-list-item.active a:hover:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: #ff8c28;
}

.post-list-item a:hover:before {
  background: #e3e3e3;
}

.post-list-control-container {
  padding: 16px;
  border-bottom: 1px solid #e3e3e3;
}

.post-list-control-container .form-control {
  width: auto;
  position: relative;
  float: none;
  overflow: hidden;
}

.post-list-control-container .new-post {
  float: right;
  margin-left: 8px;
  font-size: 28px;
  color: #ff8c28;
  cursor: pointer;
}

.post-list-control .search-filter {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ddd;
  outline: none;
}

.post-list-control .search-filter:focus {
  box-shadow: 0 2px 2px 0 #eee;
  outline: none;
}