.editor-container {
  width: 100%;
  height: 100%;
}

.md-container {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
}

.md-container textarea {
  width: 100%;
  height: 100%;
  background: #444;
  color: #fff;
  padding: 20px;
}

.md-container textarea:focus {
  outline: 0 none;
}

.html-container {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
  padding: 20px;
}